<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<div align="center">
    <h2 align="center">Reporte de datos</h2>
    <p align="center">Aquí encuentras el resumen de los datos obtenidos</p>
</div>

<div id="chartUsers" style="width: 50%; height: 300px;padding-top: 36px; display: inline-block; padding-bottom: 36px;"  ></div>
<div id="chartLocation" style="width: 50%; height: 300px;padding-top: 36px; display: inline-block; padding-bottom: 36px;"  ></div>
<div id="chartData" style="width: 100%; height: 300px;padding-top: 100px;"  ></div>

</html>