<h1 style="text-align: center;">Cece</h1>
<p style="text-align: center;">Cece es un asistente personal que almacena datos de temperatura, humedad y ubicación para mostrar   
 a todos nuestros usuarios <br> cómo se encuentra el clima actualmente y puedan siempre tenerlo en cuenta al momento de movilizarse or la ciudad. </p>

<div style="margin-bottom:25px">

  <div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>
  </div>
</div>